<div id="footer" class="row footer">
    <div class="container">
        <div class="row main_footer">
            <div class="col-sm-6 col-xs-12">
                <div class="copyright_text">
                    &copy; Copyright by Lactroi Team - 2017
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="footer_socail">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-rss"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>