<div class="search-bar">
    <div class="col-sm-2">
        <div class="form-group">
            <select class="selectpicker form-control show-tick">
                <optgroup label="Picnic">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </optgroup>

                <optgroup label="Camping">
                    <option>Tent</option>
                    <option>Flashlight</option>
                    <option>Toilet Paper</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <select class="selectpicker form-control show-tick">
                <optgroup label="Picnic">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </optgroup>

                <optgroup label="Camping">
                    <option>Tent</option>
                    <option>Flashlight</option>
                    <option>Toilet Paper</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <select class="selectpicker form-control show-tick">
                <optgroup label="Picnic">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </optgroup>

                <optgroup label="Camping">
                    <option>Tent</option>
                    <option>Flashlight</option>
                    <option>Toilet Paper</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <select class="selectpicker form-control show-tick">
                <optgroup label="Picnic">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </optgroup>

                <optgroup label="Camping">
                    <option>Tent</option>
                    <option>Flashlight</option>
                    <option>Toilet Paper</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm món ăn" aria-describedby="basic-addon2">

            <span class="btn input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
        </div>
    </div>
</div>