@{
    ViewBag.Title = "Chi tiết bài học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menuHeader{
    @Html.Partial("_MenuPartial")
}

@section content{
    <link href="~/Content/app/course-detail.css" rel="stylesheet" />
}

<div class="container course-detail">
    <div class="row">
        @*Course detail*@
        <div class="col-sm-8 detail-box">
            <div class="row">
                @*Title*@
                <div class="col-xs-12 title">
                    <h2>Cá kèo nướng muối ớt</h2>
                </div>

                @*Rating and viewer*@
                <div class="col-xs-12 rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <span>9669 người dùng đã mua lớp học</span>
                </div>

                @*Chef*@
                <div class="col-xs-12 chef">
                    Đầu bếp hướng dẫn: <strong>Gordon Ramsay</strong>
                </div>

                @*Publish date*@
                <div class="col-xs-12 chef">
                    Ngày học: 1/7/2017
                </div>

                @*Introduction*@
                <div class="col-xs-12 introduction">
                    <h4>Giới thiệu</h4>

                    <div>
                        Some restaurant dishes are best left to professional kitchens.
                        Other restaurant dishes might seem daunting for the home cook, but that's only because you have never seen the dish made.
                        Chinese dumplings and potstickers are a perfect example of this second group.
                        Yes, stuffing and sealing the wrappers takes some patience, but with just 20 minutes of work you can have dumplings ready for cooking in your own kitchen.
                        All of the recipes in this course freeze beautifully too, so you can always have dumplings on hand. <br /><br />

                        In this course, you will learn how to prepare steamed Chinese pork and shrimp dumplings, known as shu mai, with a chili oil dipping sauce.
                        You will also learn how to make pork and cabbage potstickers with a flavorful scallion dipping sauce as well as vegetarian mushroom and cabbage potstickers.
                    </div>
                </div>

                @*Description*@
                <div class="col-xs-12 description">
                    <h4>Mô tả khoá học</h4>

                    <div>
                        Begin to handle your knife like a pro<br />
                        Learn about whole foods and how they impact your health<br />
                        Learn to make delicious salads and dressings<br />
                        Be able to cook fluffy grains and tender legumes<br />
                        Learn to create homemade pizza and perfectly al dente pasta<br />
                        Learn how to steam and roast delicious, nutrient-dense vegetable dishes<br />
                        Apply dry-heat methods, master the fry pan and roast the perfect chicken<br />
                        Understand moist-heat techniques, such as steaming, poaching and simmering<br />
                        Understand stocks, how to prepare and how to use them to boost flavor<br />
                        Gain the skills to start improving your health by cooking from scratch
                    </div>
                </div>

                @*Chef information*@
                <div class="col-xs-12 chef-info">
                    <h4>Đầu bếp</h4>

                    <div class="box">
                        <div class="left">
                            <div class="avatar">
                                <img src="~/images/chef1.jpg" alt="chef avatart" class="img-responsive" onerror="this.onerror = null; this.src = '/images/no-image.jpg';" />
                            </div>

                            <div class="teacher-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <span>4.9</span>
                            </div>

                            <div class="students">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>1,969 học viên</span>
                            </div>

                            <div class="teacher-course">
                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                <span>19 bài học</span>
                            </div>

                            <div class="teacher-course">
                                <i class="fa fa-film" aria-hidden="true"></i>
                                <span>2 khoá học</span>
                            </div>
                        </div>

                        <div class="right">
                            Gordon James Ramsay, OBE (born 8 November 1966) is a British celebrity chef, restaurateur, and television personality.<br />
                            Born in Scotland, Ramsay grew up in Stratford-upon-Avon. His restaurants have been awarded 16 Michelin stars in total.<br />
                            His signature restaurant, Restaurant Gordon Ramsay in Chelsea, London, has held 3 Michelin stars since 2001.<br />
                            First appearing on television in the UK in the late 1990s, by 2004 Ramsay had become one of the best known celebrity chefs in British popular culture, and, along with other chefs like Jamie Oliver, Nigella Lawson, and Delia Smith, he has influenced viewers to become more culinarily adventurous.
                        </div>
                    </div>
                </div>

                @*Reference courses*@
                <div class="col-xs-12 reference-courses">
                    <h4>Các bài học liên quan</h4>

                    <div class="col-xs-6 col-sm-4">
                        <div class="row ref-course-box">
                            <div class="course-img">
                                <a href="#">
                                    <img src="~/images/courses/course1.jpg" class="img-responsive" alt="reference course" onerror="this.onerror = null; this.src = '/images/no-image.jpg';" />
                                </a>
                            </div>

                            <div class="col-xs-12 title multiline-ellipsis">
                                <a href="#">
                                    The Complete JavaScript Course: Build a Real-World Project
                                </a>
                            </div>

                            <div class="col-xs-12 rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>

                            <div class="col-xs-12 price">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>50,000 VNĐ</span>
                            </div>

                            <div class="col-xs-12 author">
                                Andrew Mead
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="row ref-course-box">
                            <div class="course-img">
                                <a href="#">
                                    <img src="~/images/courses/course10.jpg" class="img-responsive" alt="reference course" onerror="this.onerror = null; this.src = '/images/no-image.jpg';" />
                                </a>
                            </div>

                            <div class="col-xs-12 title multiline-ellipsis">
                                <a href="#">
                                    The Complete JavaScript Course: Build a Real-World Project
                                </a>
                            </div>

                            <div class="col-xs-12 rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>

                            <div class="col-xs-12 price">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>50,000 VNĐ</span>
                            </div>

                            <div class="col-xs-12 author">
                                Andrew Mead
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="row ref-course-box">
                            <div class="course-img">
                                <a href="#">
                                    <img src="~/images/courses/course5.jpg" class="img-responsive" alt="reference course" onerror="this.onerror = null; this.src = '/images/no-image.jpg';" />
                                </a>
                            </div>

                            <div class="col-xs-12 title multiline-ellipsis">
                                <a href="#">
                                    The Complete JavaScript Course: Build a Real-World Project
                                </a>
                            </div>

                            <div class="col-xs-12 rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>

                            <div class="col-xs-12 price">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>50,000 VNĐ</span>
                            </div>

                            <div class="col-xs-12 author">
                                Andrew Mead
                            </div>
                        </div>
                    </div>

                    @*Load more link*@
                    <div class="col-xs-12 load-more">
                        <div class="row">
                            <a href="#">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <span>Xem thêm bài học</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Buy box*@
        <div class="col-sm-4 hidden-xs buy-box">
            <div class="row video-introduction">
                <iframe src="https://www.youtube.com/embed/QZhI2qD3WHM"></iframe>
            </div>

            <div class="row price">
                <i class="fa fa-money" aria-hidden="true"></i>
                <span>150,000 VNĐ</span>
            </div>

            <div class="row">
                <a href="/payment" class="btn btn-block btn-success text-uppercase btn-buy">Mua ngay</a>
            </div>
        </div>
    </div>
</div>

