@{
    ViewBag.Title = "Sign In Cooking School";
}
@section menuHeader{
    @Html.Partial("_MenuPartial")
}

@section content{
    <link href="~/Content/app/profile-manage.css" rel="stylesheet" />
}
<section id="manage" class="manage">
    @*Banner*@
    @Html.Partial("_BannerPartial")
    <div class="overlay">
        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="/images/service2.png" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                Hung Vu
                            </div>
                            <div class="profile-usertitle-job">
                                Học viên
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="/profile">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Xem thông tin chung
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/profileinfo">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a href="/profileimage">
                                        <i class="glyphicon glyphicon-camera"></i>
                                        Ảnh đại điện
                                    </a>
                                </li>
                                <li>
                                    <a href="/profilecredit">
                                        <i class="glyphicon glyphicon-credit-card"></i>
                                        Các thẻ thanh toán
                                    </a>
                                </li>
                                <li>
                                    <a href="/profilenotice">
                                        <i class="glyphicon glyphicon-flag"></i>
                                        Thông báo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <!-- Nội dung Profile -->
                <div class="col-md-9">
                    <div class="profile-content">
                        <div role="tabpanel" class="tab-pane active" id="public">
                            @*--------Title--------*@
                            <div class="profile-title">
                                <h2>Thông tin học viên</h2>                                
                            </div>
                            @*--------Ending title--------*@
                            @*--------Form thông tin--------*@
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="username">Họ tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="username" placeholder="Họ tên">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="username">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="username" placeholder="vd : abc@xyz.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="displayname">Ngày sinh</label>
                                    <div class="col-sm-10">
                                        <div class="input-group date" data-provide="datepicker">
                                            <input type="text" class="form-control">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="username">Số điện thoại</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="username" placeholder="Số điện thoại">
                                    </div>
                                </div>   
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="username">CMND</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="username" placeholder="Chứng minh nhân dân">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="username">Địa chỉ</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="username" placeholder="Địa chỉ thường trú">
                                    </div>
                                </div>                            
                                <!--Button Save-->
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Thay đổi</button>
                                    </div>
                                </div>
                            </form>
                            @*--------Ending Form thông tin--------*@ 
                                                     
                        </div>
                    </div>
                </div>
                <!-- Ending Nội dung Profile -->
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}