@{
    ViewBag.Title = "Sign In Cooking School";
}
@section menuHeader{
    @Html.Partial("_MenuPartial")
}

@section content{
    <link href="~/Content/app/profile-manage.css" rel="stylesheet" />
}
<section id="manage" class="manage">
    @*Banner*@
    @Html.Partial("_BannerPartial")
    <div class="overlay">
        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="/images/service2.png" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                Hung Vu
                            </div>
                            <div class="profile-usertitle-job">
                                Học viên
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="/profile">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Xem thông tin chung
                                    </a>
                                </li>
                                <li>
                                    <a href="/profileinfo">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/profileimage">
                                        <i class="glyphicon glyphicon-camera"></i>
                                        Ảnh đại điện
                                    </a>
                                </li>
                                <li>
                                    <a href="/profilecredit">
                                        <i class="glyphicon glyphicon-credit-card"></i>
                                        Các thẻ thanh toán
                                    </a>
                                </li>
                                <li>
                                    <a href="/profilenotice">
                                        <i class="glyphicon glyphicon-flag"></i>
                                        Thông báo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <!-- Nội dung Profile -->
                <div class="col-md-9">
                    <div class="profile-content">
                        <div role="tabpanel" class="tab-pane active" id="public">
                            @*--------Title--------*@
                            <div class="profile-title">
                                <h2>Ảnh đại diện</h2>
                            </div>
                            @*--------Ending title--------*@
                            @*--------Form thông tin--------*@
                            <form class="form-horizontal">
                                <!--Image Picker-->
                                <div class="form-group">
                                    <div class="profile-userpic">
                                        <img src="/images/service2.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                                
                                <!--Button Save-->
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-camera"></i>  Chọn ảnh</button>
                                        <button type="submit" class="btn btn-default">Lưu</button>
                                    </div>
                                    
                                </div>                                
                            </form>
                            @*--------Ending Form thông tin--------*@

                        </div>
                    </div>
                </div>
                <!-- Ending Nội dung Profile -->
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
