body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/*
* ------------ Start banner ------------
*/

.banner {
    position: relative;
    background-image: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    margin-top: 0px;
}

/*
* ------------ End banner ------------
*/
