body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.padding-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/*
* ------------ Start banner ------------
*/
.banner {
    position: relative;
    background-image: url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    margin-top: 0px;
}
/*
* ------------ End banner ------------
*/

/*
* ------------ Start Multi line Ellipsis ------------
*/
.multiline-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    /* Use this value to count block height */
    line-height: 1.4em;
    /* Max-height = Line-height (1)  Lines max number (2) */
    height: 2.8em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
/*
* ------------ End Multi line Ellipsis ------------
*/
