.comment .media-object {
    max-height:64px;
    max-width:64px;
}

.comment .comment-content {
    padding:10px;
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 5px;
}


.comment .comment-content .controls {
    
}


.comment .comment-content .controls a{
    display:inline;
}

.comment .comment-content .controls .separator {
    padding-left:3px;
    padding-right:3px;
}