/*Footer*/
.footer {
    border-top: 1px solid #ddd;
    background: #f1eee6;
}

    .footer .main_footer {
        margin-top: 15px;
        margin-bottom: 15px;
    }

.copyright_text p {
    color: #aaa79e;
    line-height: 25px;
    padding: 40px;
    max-width: 100%;
}

    .copyright_text p i {
        padding: 0px 10px;
        color: #ff0000;
    }

    .copyright_text p a {
        padding: 0px 10px;
        color: #5e9a28;
    }

.footer_socail {
    padding: 5px;
    text-align: right;
}

    .footer_socail a i {
        color: #aaa79e;
        padding: 0px 10px;
    }


@media (max-width: 768px) {
    .main_footer .copyright_text,
    .main_footer .footer_socail {
        text-align: center;
    }

    .main_footer .footer_socail {
        margin-top: 10px;
    }
}
