/*Footer*/
.footer {
    border-top: 1px solid #ddd;
    background: #f1eee6;
}

    .footer .main-footer {
        margin-top: 15px;
        margin-bottom: 15px;
    }

.copyright-text {
    color: #aaa79e;
    line-height: 25px;
}

.footer-socail {
    text-align: right;
}

    .footer-socail a {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

    .footer-socail .btn-social-icon > :first-child {
        line-height: 30px;
        font-size: 16px;
    }

@media (max-width: 768px) {
    .main-footer .copyright-text,
    .main-footer .footer-socail {
        text-align: center;
    }

    .main-footer .footer-socail {
        margin-top: 10px;
    }
}