/*Header*/
.cs-header {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(224,224,224,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(224,224,224,1);
    box-shadow: 0px 5px 5px 0px rgba(224,224,224,1);
}

    .cs-header .navbar {
        background-color: transparent;
        border-color: transparent;
        margin: 0;
    }

        .cs-header .navbar li > a {
            background-color: transparent;
        }

            .cs-header .navbar li > a:hover,
            .cs-header .navbar li.active > a,
            .cs-header .navbar li.active > a:hover,
            .cs-header .navbar li.active > a:focus {
                color: #639d2f;
                font-weight: 500;
                background-color: transparent;
            }

        .cs-header .navbar li.menu-profile > a:hover {
            color: #777;
            font-weight: 400;
        }

        .cs-header .navbar li.menu-profile li > a:hover {
            color: #639d2f;
            font-weight: 400;
        }

        .cs-header .navbar .menu-profile.open > a,
        .cs-header .navbar .menu-profile.open > a:focus,
        .cs-header .navbar .menu-profile.open > a:hover {
            background-color: transparent;
        }

/*Fixed header*/
.cs-fixed-header {
    background-color: transparent;
}

    .cs-fixed-header .navbar {
        background-color: transparent;
        border-color: transparent;
        margin: 0;
    }

        .cs-fixed-header .navbar li > a {
            color: #ffffff;
        }

            .cs-fixed-header .navbar li.active > a,
            .cs-fixed-header .navbar li.active > a:hover,
            .cs-fixed-header .navbar li.active > a:focus,
            .cs-fixed-header .navbar li > a:hover {
                color: #ffffff;
                font-weight: 500;
                background-color: transparent;
            }
            
        .cs-fixed-header .navbar .menu-profile.open > a {
            color: #ffffff;
            font-weight: 500;
            background-color: transparent;
        }

        .cs-fixed-header .navbar li.menu-profile .dropdown-menu {
            background-color: transparent;
            border: none;
        }

        .cs-fixed-header .navbar li.menu-profile li > a:hover {
            font-weight: 500;
        }

        .cs-fixed-header .navbar .menu-profile.open > a:focus,
        .cs-fixed-header .navbar .menu-profile.open > a:hover {
            font-weight: 500;
        }
