.lesson-detail {
    margin-top: 30px;
    margin-bottom: 50px;
}

    /*Details box*/
    .lesson-detail .detail-box > div {
        margin-bottom: 15px;
    }

    /*Rating*/
    .lesson-detail .detail-box .rating i {
        color: #639d2f;
        font-size: 22px;
    }

    /*Chef*/
    .lesson-detail .detail-box .chef {
        display: flex;
        align-content: center;
    }

        .lesson-detail .detail-box .chef .avatar {
            width: 65px;
            height: 65px;
        }

        .lesson-detail .detail-box .chef .info {
            margin: 0;
        }

            .lesson-detail .detail-box .chef .info a {
                font-size: 18px;
                font-weight: 500;
                color: #333333;
            }

                .lesson-detail .detail-box .chef .info a:hover,
                .lesson-detail .detail-box .chef .info a:focus {
                    text-decoration: none;
                }

            .lesson-detail .detail-box .chef .info .chef-rating {
                font-size: 16px;
            }

    /*Social link*/
    .lesson-detail .detail-box .social-link {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

        .lesson-detail .detail-box .social-link a {
            border-radius: 50%;
            margin-left: 10px;
            font-size: 12px;
        }

    /*Ingredient*/
    .lesson-detail .ingredient {
        border-right: 1px solid #dddddd;
    }

    /*Ingredient*/
    .lesson-detail .preprocessing {
    }

        .lesson-detail .preprocessing > div {
            background-color: #f9f9f9;
            padding: 15px;
            line-height: 30px;
        }

    /*Processing steps*/
    .lesson-detail .processing-steps {
    }

@media (max-width: 768px) {
    .lesson-detail .detail-box .social-link {
        justify-content: flex-start;
    }

        .lesson-detail .detail-box .social-link a {
            margin-left: 0;
            margin-right: 10px;
        }
}



/*Swiper*/
.swiper-container {
    width: 100%;
    height: 100%;
}

    .swiper-container .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

        .swiper-container .swiper-slide img {
            width: 100%;
        }

    .swiper-container .swiper-pagination {
        position: relative;
        margin-top: 10px;
        bottom: 0;
    }
