.avatar {
    
}

.avatar img {
    height: 125px;
    width: 125px;
    display: block;
}

.profile-content {
    margin-top:10px;
}

.profile-content .profile-title {
    text-align: center;
}
    
.statistics {
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.statistics .panel {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
