@{
    ViewBag.Title = string.Empty;
}

@section content{
    <link href="~/Content/app/home-page.css" rel="stylesheet" />
}

@section menuHeader{
    @Html.Partial("_FixedMenuPartial")
}

@*Banner*@
<section id="home" class="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="main_home">
                        <h1>
                            <span class="white">Cooking</span>School
                        </h1>

                        <p class="subtitle">Học nấu ăn không bao giờ dễ hơn</p>

                        <form action="/courses/search/" class="form search-box">
                            <div class="search-input">
                                <input type="search" name="q" class="search-field form-control" placeholder="Tìm món ăn" autocomplete="off">
                            </div>

                            <button type="submit" class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Why you choose CookingShool*@
<section id="choose" class="choose">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 title">
                <h2>TẠI SAO LẠI CHỌN COOKINGSCHOOL</h2>
            </div>

            @*Thoi gian*@
            <div class="col-sm-4">
                <div class="choose_icon">
                    <img src="/images/service.png" alt="" />
                </div>

                <h3>Tiết kiệm thời gian</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur convallis nunc, at ullamcorper turpis gravida nec.
                    Praesent eu ultrices nunc.
                </p>
            </div>

            @*Chi phi*@
            <div class="col-sm-4">
                <div class="choose_icon">
                    <img src="/images/service2.png" alt="" />
                </div>

                <h3>Tiết kiệm chi phí</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur convallis nunc, at ullamcorper turpis gravida nec.
                    Praesent eu ultrices nunc.
                </p>
            </div>

            @*Tuong tac*@
            <div class="col-sm-4">
                <div class="choose_icon">
                    <img src="/images/service3.png" alt="" />
                </div>

                <h3>Tương tác</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur convallis nunc, at ullamcorper turpis gravida nec.
                    Praesent eu ultrices nunc.
                </p>
            </div>
        </div>
    </div>
</section>

@*Separate line*@
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <hr />
            </div>
        </div>
    </div>
</section>

@*Service*@
<section id="service" class="service">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 title">
                <h2>SẢN PHẨM CỦA CHÚNG TÔI</h2>
            </div>

            @*Bai hoc*@
            <div class="col-sm-5">
                <h3>BÀI HỌC</h3>

                <div>
                    Suspendisse ac nulla eros. Vestibulum elementum placerat erat ac maximus. Aliquam quis nisi quis arcu dapibus ornare. Donec vel ex urna. Ut in odio ultricies mauris fringilla placerat commodo in augue.
                </div>
            </div>

            <div class="col-sm-2">
            </div>

            @*Khoa hoc*@
            <div class="col-sm-5">
                <h3>KHOÁ HỌC</h3>

                <div>
                    Suspendisse ac nulla eros. Vestibulum elementum placerat erat ac maximus. Aliquam quis nisi quis arcu dapibus ornare. Donec vel ex urna. Ut in odio ultricies mauris fringilla placerat commodo in augue.
                </div>
            </div>
        </div>
    </div>
</section>

@*Separate line*@
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <hr />
            </div>
        </div>
    </div>
</section>

@*Feedback*@
<section id="feedback" class="feedback">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title text-center">
                <h2>HỌC VIÊN NÓI VỀ CHÚNG TÔI</h2>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-9">
                        <H4>Hung Vu</H4>
                        <div>Website thân thiện, dễ sử dụng, đầu bếp hướng dẫn nhiệt tình. Verry Good...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
